<div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
  </div>

   
  <!--  PARA FUNCIONAR É NECESSÁRIO DE DUAS IMAGENS NESSAS CONDIÇÕES:
  /resources/icon.png - pelo menos 1024x1024px
  /resources/splash.png - pelo menos 2732 × 2732px 
-->
   

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu *ngIf="constValue.menu" contentId="main-content" type="overlay">
      <ion-header class="menu">
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button expand="full" color="tertiary" (click)="abrirPortal()"><a href="http://52.67.131.147:80">Portal Web<ion-icon slot="end" name="globe"></ion-icon></a></ion-button>
        <ion-button expand="full" color="tertiary" (click)="presentAlertConfirm()">Sair</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>