<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seja Bem Vindo!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../../assets/logo.png">
      Esse é o App de Controle de Chamados da Lobios!
    </ion-card-content>
  </ion-card>
</ion-content>